<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body>
    <main>
        <section class="header-full">
            <h1>habit</h1>
        </section>
        <div class="inline-flex">
            <section class="no-padding no-margin inline-flex flex-center">
                <div class="login-window">
                    <h4>Login</h4>
                    <%if(message){%>
                        <p><%=message%></p>
                        <%}%>
                    <form action="/users/login" method="POST">
                        <input type="text" name="username" placeholder=""><br>
                        <input type="password" name="password" placeholder=""><br>
                        <button type="submit">Login</button>
                    </form> 
                    <form action="/users/new" method="GET">
                        <button type="submit">Sign Up</button>
                    </form> 
                </div>
            </section>
        </div>
        <section>
            <ul class="list index-user-list">
                    <section class="no-padding no-margin inline-flex flex-center">
                            <div class="big-button">
                                    View All Habits:
                                    <form action="/habits/" method="GET">
                                        <button type="submit" class="fa fa-icons"></button>
                                    </form>
                            </div>
                            <div class="big-button">
                                    View All Users:
                                    <form action="/users/" method="GET">
                                        <button type="submit" class="fa fa-users-cog"></button>
                                    </form> 
                            </div>
                    </section>
                <%#for(let i = 0; i < users.length; i++){%>
                    <!-- <li>
                        <a href='/users/<%#=user._id%>'>
                            <%#=user.username%>
                            add activity 
                        </a>
                    </li> -->
                <%#}%>
            </ul>
        </section>
    </main>
    <script src="../public/js/home.js"></script>
</body>
</html>