<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/header %>

    <h2>HABITS INDEX</h2>
    <section class="add-habit">
            <form method="POST" action="/habits/<%=userID%>">
                Habit name: <input type="text" name="name" value=""><br/>
                Type: <input type="text" name="type" value=""><br/>
                Icon: <input type="text" name="icon" value=""><br/>
                <button type="submit">SUBMIT</button>
            </form>
    </section>
    <section>
            <ul>
                <%for(let i = 0; i < habits.length; i++){%>
                    <li>
                        <%=habits[i].name%>
                        <form action="/habits/<%=habits[i]._id%>?_method=DELETE" method="POST">
                            <button type="submit">X</button>
                        </form>
                    </li>
                <%}%>
            </ul>
    </section>
    <a href="/">back</a>
</body>
</html>