<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/header %>
    <h2 class="fa fa-<%=user.habits[i].icon%>"><%=user.habits[i].name%></h2>
    
</body>
</html>