<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/header %>
    <main>

            <h2>ADD NEW USER</h2>
            <%if(message){%>
                        <p><%=message%></p>
                        <%}%>
            <section>
                <form action="/users/registration" method="POST">
                    Username:<input type="text" name="username" placeholder="username" required><br>
                    Email:<input type="email" name="email" placeholder="email" required><br>
                    Password:<input type="password" name="password" placeholder="password" required><br>
                    Be Visible to Other Users:<input type="checkbox" name="visible" checked><br>
                    <button type="submit">Register</button>
                </form>
            </section>
            <form method='GET' action='/' >
                <button type='submit'>back</button>
            </form>
    </main>
</body>
</html>