<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/header %>
    <main>
            <h1>ADD NEW USER</h1>
            <section>
                <form action="/users/registration" method="POST">
                          <input type="text" name="username" placeholder="username"><br>
                          <input type="email" name="email" placeholder="email"><br>
                          <input type="password" name="password" placeholder="password"><br>
                          <button type="submit">Register</button>
                </form>
                <form method='GET' action='/users' >
                    <button type='submit'>back</button>
                </form>
            </section>
    </main>
</body>
</html>